
# http://editorconfig.org
# editor config for consistent editor settings for all project devs

root = true

[*]
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Docstrings and comments use max_line_length = 79
[*.py]
max_line_length = 79

[docs/**.txt]
max_line_length = 79
